
 <tr>
     <td></td>
     <td>Net</td>
     <td>A2</td>
     <td></td>
     <td></td>
     <td>FIFA</td>
     <td>IOC</td>
     <td>A3</td>
     <td>Motor</td>
     <td>FIPS</td>
     <td>Num</td>
     <td>UN?</td>
     <td>FIFA?</td>
 <!-- to be done
   <td>Languages</td>
   -->
  </tr>
